.startWindow {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 60px;
    border-radius: 10px;
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.startWindow button {
    border-radius: 10px;
    padding: 18px;
}

.qiuezWindow {

    height: 550px;
    width: 1000px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 60px;
    border-radius: 10px;
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

}


.question { 
    margin-top: 30px;
    line-height: 2.5;
    font-size: 20px;
}

.question button{
   margin-left: 10px;
   width: 200px;
   border-radius: 10px;

}

.disclaimer {
    font-size: 13px;
    opacity: 0.3;
    margin-top: 60px;
}

.qiuezWindow {
    font-size: 20px;
}

.totalTrue {
    color: rgb(47, 233, 47);
    font-size: 20px;
}

.totalFalse {
    color: red;
    font-size: 20px;
 
}

.qiuezWindow h3 { 

padding: 20px
}

.qiuezWindow button {
    border-radius: 10px;
    width: 200px;
}


.questionNumber { 
   color: rgb(0, 149, 248);
   margin-bottom: 10px;
  font-size: 16px;
}